/* @import url('./../fonts/Italiana-Regular.ttf'); */

@font-face {
  font-family: med;
  src: url('./../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: regular;
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: Ital;
  src: url('./../fonts/Italiana-Regular.ttf');
}


h1,h2 {font-family: Ital;}
p{
  font-family: med;
}

body, html {height: 100%}

.header{
  background-image: url('./../images/love.png');
  background-position: center;
  background-size: cover;
}

.bgimg {
    background-image: url('./../images/sky.JPG');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  .menus{
    font-family: regular;
  }